/* Global Styles */
* {
    box-sizing: border-box;
    font-family: "Roboto", Arial, sans-serif;
}

/* Body background */
body {
    background-color: #f6f8fc;
}

/* Main content container encapsula os cards ds pokémons*/
.content {
    width: 100vw;
    min-height: 95vh;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.2);
}

/* Sombra do título "Pokedex" */
.content h1 {
    text-shadow: 2px 2px 3px grey;
}

/* Largura máxima do container que encapsula os pokémons */
@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}